.cell {
    width: 62px;
    height: 62px;
    border: 2px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    line-height: 1;
    font-weight: 700;

    @unused-color: #d3d6da;
    @correct-color: green;
    @close-color: #c9b458;
    @incorrect-color: #787c7e;

    &.unused{
        border-color: @unused-color !important;
    }

    &.correct{
        background-color: @correct-color !important;
        border-color: @correct-color !important;
        color: white;
    }

    &.close{
        background-color: @close-color !important;
        border-color: @close-color !important;
        color: white;
    }

    &.incorrect{
        background-color: @incorrect-color !important;
        border-color: @incorrect-color !important;
        color: white;
    }
}